<div class="d-flex container border w-50 h-50">
  <div class="sidebanner">
    <img src="https://cdn.vox-cdn.com/thumbor/66cF9RQO6xEPpe1MsU4vdxVq37Y=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22236383/acastro_210113_1777_gamingstock_0002.jpg" alt="gaming is kewl" style="width:150px; object-fit: contain;">
  </div>
  <div class="">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email", class: "form-control-sm" }%>
            <%= f.input :username, required: true, autofocus: true, input_html: { class: "form-control-sm" }%>
              <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if
                @minimum_password_length), input_html: { autocomplete: "new-password", class: "form-control-sm" } %>
                <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password", class: "form-control-sm" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-primary my-1" %>
        </div>
        <% end %>

          <%= render "devise/shared/links" %>
  </div>

</div>
