<div class="grid-container p-3">
  <div class="card" style="width: 13rem;">
      <%= image_tag(user.profile_picture) %>
    <div class="card-body">
      <h5 class="card-title"><%= user.username %></h5>
      <p class="card-text"><%= user.country %>
      <p class="card-text"><%= user.rates %>/hr || <%= user.games.map(&:name) %></p>
      <a href=<%="/#{user.username.gsub(" ","")}"%> class="btn btn-primary">></a>
    </div>
  </div>
</div>
