<div class="col-4">
  <div class="my-3">
    <div class="card h-100 mb-3">

    <%= link_to "/#{user.username.gsub(" ","")}" do %>

      <%= image_tag(user.profile_picture, class:"d-block mx-auto") %>

      <div class="card-body custom-text">
        <h3 class="card-title text-center"><%= user.username %></h3>
        <p class="card-text font-weight-bold">$<%= user.rates %>/hr</p>
        <p class="card-text ">Orders Completed: <%= user.slots.where("booked = true").count %></p>
      </div>

      <div class='ratings-stars text-center mb-2'>
        <% if (user.reviews.length) > 0 %>
          <% (((user.reviews.map(&:rating).reduce(:+)).to_i)/(user.reviews.length)).times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
        <% else %>
          <p class="text-center text-light">Be the first to review!</p>
        <% end %>
      </div>

      <div class="btn-margin">
        <a class="btn btn-primary" href=<%="/#{user.username.gsub(" ","")}"%> class="btn btn-primary">Find out more</a>
      </div>
    <% end %>
  </div>
  </div>
</div>
