<div class="wrapper p-5">
  <div>
    <h1 class='text-center'>Our Coaches</h1>
    <h2 class='text-center'>Become the BEST gamer in <%= params[:filter_game] %>. Get coaching to reach the next level!</h2>
  </div>
  <nav class="navbar navbar-dark navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="mt-5 mx-auto py-4 px-5 form-wrapper">
        <form action="#" method="get" class="text-center">
          <input name="filter_game" type="hidden" value="<%= params[:filter_game] %>" />
          <div class="row">
            <div class="col-sm-3">
              <div class="text-left h-100 d-flex flex-column justify-content-between">
                <label for="filter_username" class="text-uppercase font-weight-bolder">search coach by name</label>
                <input type="text" class="form-control" name="filter_username" placeholder="e.g. Milo" value="<%= params[:filter_username]%>">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="text-left h-100 d-flex flex-column justify-content-between">
                <label for="filter_country" class="text-uppercase font-weight-bolder">Country</label>
                <input type="text" class="form-control" name="filter_country" placeholder="e.g. Singapore" value="<%= params[:filter_country]%>">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="text-left h-100 d-flex flex-column justify-content-between" >
                <label for="filter_price[min_price]" class="text-uppercase font-weight-bolder">Min price</label>
                <input type="number" class="form-control" name="filter_price[min_price]" placeholder="0" value="<%= params[:filter_price["min_price"]]%>">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="text-left h-100 d-flex flex-column justify-content-between">
                <label for="filter_price[max_price]" class="text-uppercase font-weight-bolder">Max price</label>
                <input type="number" class="form-control" name="filter_price[max_price]" placeholder="100" value="<%= params[:filter_price["max_price"]]%>">
              </div>
            </div>
          </div>
          <div class='text-center mt-3'>
            <input type="submit" value="Find your coach!" class="btn btn-primary btn-lg">
          </div>
        </form>
      </div>
    </div>
  </nav>

</div>

  <div class="mt-4 mx-5">
    <div class="row">
      <%= render @users %>
    </div>
  </div>
</div>
