<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="text-center">
        <%= render 'shared/avatar' %>
      </div>
      <div class='key-info'>
        <h1><%= @user.username %></h1>
        <h3 class="text-center">$<%= @user.rates%>/hr</h3>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <div>
            <h5 class="card-title">Coach Since: </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @user.coach_since %></h6>
        </div>
        <div>
          <h5 class="card-title">Country: </h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @user.country %></h6>
      </div>
      <div>
      <h5 class="card-title">Games: </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <% @user.games.each do |game| %>
          <%= game.name %><br>
        <% end %>
        </h6>
      </div>
    </div>
  </div>
</div>

<div>
  <%= month_calendar do |date| %>
    <%= date %>
    <% if @available_dates.include?(date) %>
      <%= link_to "Available", new_slot_order_path(Slot.by_user(@user).find_by(date: date)), class: "btn btn-dark" %>
    <% end %>
    <% if user_signed_in? && @booked_dates.include?(date) %>
      <p>Booked</p>
    <% end %>
  <% end %>
</div>
