<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="text-center">
        <%= render 'shared/avatar' %>
      </div>
      <div class='key-info'>
        <h1><%= @user.username %></h1>
        <h3 class="text-center">$<%= @user.rates%>/hr</h3>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center">
      <div class="card text-left" style="width: 18rem;">
        <div class="card-body">
          <div class="my-3">
            <h5 class="card-title title-custom">Coach Since: </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @user.coach_since %></h6>
          </div>
          <div class="my-3">
            <h5 class="card-title title-custom">Orders Completed: </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @user.slots.where("booked = true").count %></h6>
          </div>
          <div class="my-3">
            <h5 class="card-title title-custom">Country: </h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= @user.country %></h6>
          </div>
        <div class="my-3">
          <h5 class="card-title title-custom">Games: </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            <% @user.games.each do |game| %>
              <%= game.name %><br>
            <% end %>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-profile d-flex align-items-center">
  <div class="card my-3">
    <div class="card-header header-custom">
      About <%= @user.username %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 content-custom">
        <p><%= @user.profile_content %><%= @user.profile_content %><%= @user.profile_content %></p>
      </blockquote>
    </div>
  </div>

  <div class='user-vid'>
    <iframe width="400" height="260" src="https://www.youtube.com/embed/fTRFFLxobKE?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

  <div class="custom-container">
    <div class="calendar">
      <%= month_calendar do |date| %>
        <%= date.mday %>
        <% if @available_dates.include?(date) %>
          <form action="/<%=@user.username%>/<%=date%>">
            <button type="submit" value="<%=date%>" name="date" class="btn btn-outline-warning btn-sm">View Slots</button>
          </form>
        <% end %>
        <% if user_signed_in? && @booked_dates.include?(date) %>
          <p>Booked</p>
        <% end %>
      <% end %>
    </div>
    <div class="custom-review">
      <div class="review-header">
        <h3>Customers voice</h3>
        <p><%= @reviews_count.round() %></p>
      </div>
      Ratings:
      <li class="review-list-item">
        <% if @avg_rating > 0 %>
          <% @avg_rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
        <% else %>
          Be the first to review!
        <% end %>
      </li>

      <ul class="review-list">
        <% @reviews.each do |review| %>
          <li class="review-list-item">
            <%= review.rating %> stars - <%= review.order.user.username || review.order.user.first_name %>
            <br>
            <%= review.content %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
