<h1>Slots for <%=@user.username%></h1>
<h3 class="text-center"><%=@date.strftime("on %d %b %Y, %A")%></h2>

<%if @availables.empty?%>
  <h4>Nothing here</h4>
  <%= link_to "Back to User", "/#{params[:username]}" %>
<% else %>
  <%= @availables.each do |slot| %>
    <div class="card bg-secondary">
      <div class="container d-flex">
        <div>
          <h5 class="card-title"><%= slot.start %> to <%= slot.end %></h5>
        </div>
        <div>
          <a href="#" class="card-link">Book now</a>
        </div>
      </div>
  </div>
  <% end %>
<% end %>
