<% @games = Game.all %>

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "Best Gamer 🙌", root_path, class: "navbar-brand custom-nav-item"%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Game
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @games.all.each do |game| %>
              <a class="dropdown-item" href="/coaches/?filter_game=<%= game.name %>"><%= game.name %></a>
            <% end %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle custom-nav-item" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
            Members Area
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">My Profile</a>
            <a class="dropdown-item" href="/all_orders">Orders</a>
            <a class="dropdown-item" href="<%=destroy_user_session_path%>", data-method="delete">Logout</a>
          </div>
        </li>
      <% else %>
        <li class="nav-item ">
          <%= link_to "Login", new_user_session_path, class: "nav-link custom-nav-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
