
<h1 class="text-center">Confirm your order</h1>
<div class="container">
  <div class="container m-2 border p-3">
    <p>YOUR ORDER</p>
    <div class="container">
      <img src=<%=@order.slot.user.profile_picture%> alt="", style="width:200px;">


      <%= pluralize @order.slot.duration, "hour" %> with <%= @order.slot.user.username %>
    </div>
  </div>
  <div class="container m-2 border p-3">
      <div class="d-flex justify-content-between">
        <div class="amount">
          <p>YOUR TOTAL</p>
          <h3><%= humanized_money_with_symbol(@order.paid_amount) %></h3>
        </div>
        <input type="hidden" value=<%=@order%>>
        <a href="<%=slot_confirmed_path(@order.slot)%>"  class="btn btn-primary my-auto rounded-pill"> Confirm Your Order </a>
      </div>
  </div>
</div>
